
    <% @post.each do |post| %>
    <div class="max-w-sm w-full lg:max-w-full lg:flex">
        <h2 class="p-2 mx-8 text-2xl"><%= post.title %></h2>
        <%= post.body %>
        <p> <%=post.user.username %> </p>        
      </div>
    <% end %>
