<h1>All Posts<h1>

<ul id="posts">
  <% @post.each do |post| %>
    <li>
      <h2><%= post.title %></h2>
      <%= post.body %>
    </li>


  <% end %>
</ul>

<%=link_to "Add Post",new_post_path%>
<%=link_to "Sign Out",destroy_user_session_path, method: :delete%>